<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haodong.pracmodule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".myipc.ClientBinderActivity"
            android:exported="true" />
        <activity android:name=".myretrofit.RetrofitActivity"></activity>
        <activity android:name=".myhook.Hook1Activity"></activity>
        <activity android:name=".myipc.Main3Activity" />
        <activity android:name=".myipc.IPC1Activity" />
        <activity android:name=".recyclerviewstudy.Recycler2Activity" />
        <activity android:name=".mycontentprovider.ContentProviderActivity" />
        <activity android:name=".myservice.ServiceActivity1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mydagger.DaggerActivity" />

        <service android:name=".myservice.TestOneService" />

        <provider
            android:name=".mycontentprovider.StudentContentProvider"
            android:authorities="com.haodong.pracmodule.mycontentprovider.StudentContentProvider"
            android:exported="true"
            android:process=":provider" />

        <activity android:name=".memory.Main3Activity" />
        <activity android:name=".memory.MemoryLeakActivity" />
        <activity android:name=".myipc.LocalActivity">

        </activity>
        <activity android:name=".binder.client.ClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".myipc.MessageService">
            <intent-filter>
                <action android:name="com.haodong.pracmodule.myipc.MessageService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".myipc.WebService"
            android:process=":webProcess" />
        <service
            android:name=".binder.server.RemoteService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.enjoy.binder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>