<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haodong.customui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AnimationActivity"
            android:exported="true" />
        <activity android:name=".XformadeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HorizontalRecyclerViewActivity"></activity>
        <activity android:name=".myviewpager.ViewPagerActivity2" />
        <activity android:name=".touchevent.TouchActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".viewday2.StepViewActivity" />
        <activity android:name=".day7.SeventhActivity" />
        <activity android:name=".day7.QuadViewActivity" />
        <activity android:name=".day8.Day8Activity" />
        <activity android:name=".day10.Day10Activity" />
        <activity android:name=".day9.Day9Activity" />
        <activity android:name=".day12.Day12Activity" />
        <activity android:name=".day14.Day14Activity" />
        <activity android:name=".day16.Day16Activity" />
        <activity android:name=".iphone.IponeActivity" />
        <activity android:name=".day24.BeciaActivity" />
        <activity android:name=".mynested.InventoryStatusActivity" />
        <activity android:name=".demo.TransFormActivity" />
        <activity android:name=".demo.Transform2Activity" />
    </application>

</manifest>