<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haodong.customui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.haodong.customui.myviewpager.ViewPagerActivity2">

        </activity>
        <activity android:name="com.example.haodong.customui.touchevent.TouchActivity">

        </activity>
        <activity android:name="com.example.haodong.customui.MainActivity" />
        <activity android:name="com.example.haodong.customui.viewday2.StepViewActivity" />
        <activity android:name="com.example.haodong.customui.day7.SeventhActivity" />
        <activity android:name="com.example.haodong.customui.day7.QuadViewActivity" />
        <activity android:name="com.example.haodong.customui.day8.Day8Activity" />
        <activity android:name="com.example.haodong.customui.day10.Day10Activity" />
        <activity android:name="com.example.haodong.customui.day9.Day9Activity">

        </activity>
        <activity android:name="com.example.haodong.customui.day12.Day12Activity" />
        <activity android:name="com.example.haodong.customui.day14.Day14Activity" />
        <activity android:name="com.example.haodong.customui.day16.Day16Activity" />
        <activity android:name="com.example.haodong.customui.iphone.IponeActivity" />
        <activity android:name="com.example.haodong.customui.day24.BeciaActivity" />
        <activity android:name="com.example.haodong.customui.mynested.InventoryStatusActivity"></activity>
        <activity android:name="com.example.haodong.customui.demo.TransFormActivity">

        </activity>
        <activity android:name="com.example.haodong.customui.demo.Transform2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>